<div class="masthead">
  <div class="row">

         <div class="span7">
            <h1 class="muted">Tradr</h1>
        </div>

    <div class="span6">
     <ul class="nav nav-pills pull-right">
        <li><%= link_to('Home', root_path, :class => 'btn btn-primary') %></li>
        <li><%= link_to('Users', users_path, :class => 'btn btn-primary') %></li>
        <li><%= link_to('Stocks', stocks_path, :class => 'btn btn-primary') %></li>

        <li><%= login_nav %></li>
        <li><%= user_logged_in_nav %></li>
        </ul>
      </div>
    </div>

</div>




